<?php
$_product = $block->getProduct();
$darmowa_dostawa = $_product->getDarmowaDostawa();
$nowosci = $_product->getNowosci();
$promocja = $_product->getPromocja();
$wyprzedaz = $_product->getWyprzedaz();

$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$dataHelper = $_objectManager->create('\Kowal\PromocjaWyprzedazNowosc\Helper\Data');
$store_id = $_product->getStoreId() ?? 0;
$kolor_nowosc =  $dataHelper->getWebsiteCfg("kolor_nowosc", $store_id) ?? "#aaa";
$kolor_promocja =   $dataHelper->getWebsiteCfg("kolor_promocja", $store_id) ?? "#aaa";
$kolor_wyprzedaz =  $dataHelper->getWebsiteCfg("kolor_wyprzedaz", $store_id) ?? "#aaa";
$kolor_dostawa =  $dataHelper->getWebsiteCfg("kolor_dostawa", $store_id) ?? "#aaa";

$label_nowosc =  $dataHelper->getWebsiteCfg("label_nowosc", $store_id) ?? __("New product");
$label_promocja =   $dataHelper->getWebsiteCfg("label_promocja", $store_id) ?? __("Promotion");
$label_wyprzedaz =  $dataHelper->getWebsiteCfg("label_wyprzedaz", $store_id) ?? __("Outlet");
$label_dostawa =  $dataHelper->getWebsiteCfg("label_dostawa", $store_id) ?? __("Free delivery");
?>

<?php if ($darmowa_dostawa) { ?>
    <div class="kowal-label kowal-darmowa-dostawa"  style="background-color: <?=$kolor_dostawa?>"><?php echo $label_dostawa ?></div>
<?php } ?>
<?php if ($nowosci) { ?>
    <div class="kowal-label kowal-nowosc"  style="background-color: <?=$kolor_nowosc?>"><?php echo $label_nowosc ?></div>
<?php } ?>
<?php if ($promocja && !$wyprzedaz || $promocja && $wyprzedaz) { ?>
    <div class="kowal-label kowal-promocja" style="background-color: <?=$kolor_promocja?>"><?php echo $label_promocja ?></div>
<?php } ?>
<?php if ($wyprzedaz && !$promocja) { ?>
    <div class="kowal-label kowal-wyprzedaz" style="background-color: <?=$kolor_wyprzedaz?>"><?php echo $label_wyprzedaz ?></div>
<?php } ?>


