.kowal-promocja-wyprzedaz-nowosc {
  position: absolute;
  z-index: 7;

  .kowal-label {
    background-color: #006c9d;
    padding: 4px 10px 4px 10px;
    color: #fff;
    margin-bottom: 2px;
  }

  .kowal-darmowa-dostawa {
    position: relative;

  }

  .kowal-nowosc {
    position: relative;
  }

  .kowal-promocja {
    position: relative;
  }

  .kowal-wyprzedaz {
    position: relative;
  }
}

.kowal-promocja-wyprzedaz-nowosc-list {
  position: absolute;
  z-index: 7;
  top: 9px;

  .kowal-label {
    //background-color: #006c9d;
    background: rgba(0, 80, 129, 0.5);
    padding: 2px 5px 2px 5px;
    color: #fff;
    margin-bottom: 1px;
    font-size: 10px;
  }

  .kowal-darmowa-dostawa {
    position: relative;

  }

  .kowal-nowosc {
    position: relative;
  }

  .kowal-promocja {
    position: relative;
  }

  .kowal-wyprzedaz {
    position: relative;
  }
}

.products   .product-item {
  position: relative !important;
}

.products-list {
  li.item.product.product-item {
    border-bottom: solid 1px #ccc;
    margin-bottom: 30px;
  }
  .product-item-details {
    position: relative;
  }
  .kowal-promocja-wyprzedaz-nowosc-list {
    right: 0px;
  }
  .kowal-promocja-wyprzedaz-nowosc {
    right: 0px;
  }

}

.product-item-info:hover{
  .kowal-promocja-wyprzedaz-nowosc {
    z-index: 9;
  }
  .kowal-promocja-wyprzedaz-nowosc-list {
    z-index: 9;
  }
}
